:root {
    --theme: 0;

    --blue: #8BBAE9;
    --backColor: #171120;
    --backColorGradient: #ff83cd;
    --textColor: #ffffff;
  
    --SkillHTML: 85%;
    --SkillHTMLcolor: #8BBAE9;
  
    --SkillCSS: 50%;
    --SkillCSScolor: #8BBAE9;
  
    --SkillJS: 50%;
    --SkillJScolor: #8BBAE9;
  
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    
    border-radius: 0;
}



.green {
    color: green;
}
.red {
    color: red;
}
.dspNONE {
    display: none!important;
}

#S1 {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}
#S1::before {
  background: rgb(23,17,32);
  background: linear-gradient(180deg, var(--backColor) 30%, var(--backColorGradient) 900%);
  content: "";
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#searchBox {
    flex-grow: 5;
    padding-left: 7px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    min-width: 60vw;
    font-size: 1em;    
}
#searchButton {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
}

#search {
    margin: 75px;
    margin-top: 50px;
    box-shadow: 0px 0px 25px 0px rgba(255,255,255,0.25);
    padding: 20px;
    border-radius: 20px;
}

#search div {
    display: flex;
}

.searchOption {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.searchOption div {
    display: flex;
    align-items: center;
}

#minimumScoreInput {
    width: 50px;
}

#galerie {
    margin: 75px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galerieItem {
    height: 150px;
    width: auto;
    border-radius: 10px;
    margin: 20px;
}
.safe {
    box-shadow: 0px 0px 35px 0px rgba(255,255,255,0.25);
    border: rgba(255, 255, 255, 0.7);
    border-style: solid;
}
.mature {
    box-shadow: 0px 0px 35px 0px rgba(0, 81, 255, 0.25);
    border: rgba(0, 81, 255, 0.7);
    border-style: solid;
}
.adult {
    box-shadow: 0px 0px 35px 0px rgba(255, 0, 0, 0.25);
    border: rgba(255, 0, 0, 0.7);
    border-style: solid;
}

#modal {
    display: none;
    flex-direction: column;
    position:absolute;
    
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
}
#modalBackground {
    position: fixed;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #00000073;
    z-index: 999;
    top: 0;
    left: 0;
}
#modalContent {
    display: block;
    margin: 50px;
    padding: 25px;
    z-index: 10000;
    background-color: var(--backColor);
    color: #ffffff;
    border-radius: 25px;
}
#modalImg {
    max-width: 100%;
    height: auto;
}
#modal.active {
    display: flex;
}
.button {
    bottom: 15px;
}