:root {
    --theme: 0;

    --blue: #8BBAE9;
    --backColor: #171120;
    --backColorGradient: #ff83cd;
    --textColor: #ffffff;
  
    --SkillHTML: 85%;
    --SkillHTMLcolor: #8BBAE9;
  
    --SkillCSS: 50%;
    --SkillCSScolor: #8BBAE9;
  
    --SkillJS: 50%;
    --SkillJScolor: #8BBAE9;
  
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    
    border-radius: 0;
}

section {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section::before {
  background: rgb(23,17,32);
  background: linear-gradient(180deg, var(--backColor) 30%, var(--backColorGradient) 900%);
  content: "";
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#searchBox {
    flex-grow: 5;
    padding-left: 7px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    min-width: 60vw;
    font-size: 1em;    
}
#searchButton {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
}

.search {
    margin: 75px;
    margin-top: 100px;
    box-shadow: 0px 0px 25px 0px rgba(255,255,255,0.25);
    padding: 20px;
    border-radius: 20px;
}

.search div {
    display: flex;
}

.searchOption {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.searchOption div {
    display: flex;
    align-items: center;
}

#minimumScoreInput {
    width: 50px;
}

#galerie {
    margin: 75px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.galerieItem {
    box-shadow: 0px 0px 25px 0px rgba(255,255,255,0.25);
    height: 150px;
    width: auto;
    border-radius: 20px;
    margin: 20px;
}